@font-face {
    font-family: 'mattoneregular';
    src: url('./mattone-regular-webfont.woff2') format('woff2'),
    url('./mattone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* general */
.App {
    background-color: #f1efed;
    color: black;
    height: 100vh;
    width: 100vw;
    padding: 0 0 20px 0;
}
#root {
    overflow-x: hidden;
    max-width: 100vw;
}
* {
    box-sizing: border-box;
    font-family: 'mattoneregular', sans-serif;
}
body {
    overflow-x: hidden;
    min-width: 100vw;
    background-color: #f1efed;
}
/* utils */
.d-flex {
    display: flex;
}
.d-none {
    display: none;
}
.flex-wrap {
    flex-wrap: wrap;
}
.text-center {
    text-align: center;
}

.slider-item {
    font-family: 'mattoneregular', sans-serif;
    font-size: 1rem;
    display: block;
    font-weight: normal;
    white-space: nowrap;
    margin: 0 10px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
}

.slider {
    animation: scroll 20s linear infinite;
    display: flex;
}
.slider-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    overflow-x: hidden;
    display: block;
    border-bottom: 1px solid black;
}
.main-chart-wrapper  canvas{
    height: 40vh;
}
@media screen and (max-width: 972px) {
    .main-chart-wrapper canvas {
        height: 30vh !important;
    }
}
.main-chart-wrapper {
    display: flex;
    padding-left: 5px;
    padding-top: 30px;
    justify-content: center;
    position: relative;
}
.loader {
    height: 100vh;
    width: 100vw;
    background-color: #f1efed;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
.loader .slider-wrapper {
    top: 50%;
    border-bottom: none;
    margin: auto;
}
.loader .slider-item {
    font-family: sans-serif;
}
.source {
    font-size: 0.7rem;
    text-align: right;
    margin-right: 2rem;
}
.input-sliders-wrapper {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
    flex-wrap: wrap;
}
.category-label {
    font-size: 1.5rem;
}
.reset {
    display: flex;
    margin-left: auto;
    background-color: transparent;
    border: 1px solid black;
    padding: 3px 10px;
    margin-right: 1rem;
}
@media screen and (max-width: 972px) {
    .input-sliders-wrapper {
        margin-top: 1rem;
    }
    .category-label {
        font-size: 1.3rem;
    }
    .source {
        margin-right: 1rem;
    }
    .reset {
        margin-right: 0;
    }
}
.play {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
    text-align: center;
}
@media screen and (max-width: 972px) {
    .play {
        font-size: 18px;
    }
}
.input-sliders-wrapper::before {
    content: '';
    position: absolute;
    padding-left: 53px;
    display: block;
    top: 0;
    left: 0;
    height: 1px;
    width: calc(100vw);
    background-color: black;
}
.category-img {
    height: 35px;
}
@media screen and (max-width: 972px) {
    .category-img {
        height: 30px;
    }
}
.arrow {
    margin: 25px;
    display: inline-block;
    height: 12px;
    position: relative;
    width: 12px;
}
.arrow-wrapper {
    animation: .7s linear 1s infinite alternate slidein;
}
@keyframes slidein {
    from { transform: translateY(0px); }
    to   { transform: translateY(30px); }
}
.arrow::after {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    content: "";
    display: inline-block;
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 12px;
}
.arrow.arrow-bar::before {
    bottom: 1px;
    content: "";
    height: 20px;
    position: absolute;
    background-color: black;
    right: 0;
    transform-origin: bottom;
    width: 2px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.arrow.is-bottom {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}